@import "tailwindcss";

@theme {
    --color-brand-primary: #65CB3E;
    --color-brand-ink: #1A1A1A;
    /*header and block background*/
    --color-brand-concrete: #F2F2F2;
    /*divider*/
    --color-brand-light-gray: #E0E0E5;
    /*text dark gray*/
    --color-brand-mid-gray: #8C94A1;
    /*text dark gray*/
    --color-brand-dark-gray: #5C6675;

    /*Sample from service page*/
    /*Product development, as an ongoing capability.*/
    --text-h1: 64px;
    /*paragraph under h1*/
    --text-subtitle1: 20px;
    /*Product Development*/
    --text-h2: 44px;
    /*SERVICES*/
    --text-overline: 13px;
}
